/* utilities */
.u-title{
	border-bottom: 2px dashed #00CCFF;
	color: #00CCFF;
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
	padding-bottom: .5em;
}

.MainMenu{
	background: #1E1E1E;
	text-align: center;
	height: 3.75em;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}

.MainMenu-item{
	display: inline-block;
}

.MainMenu-link{
	color: #00DBFF;
	line-height: 3.75em;
	margin-right: 1.5em;
	text-decoration: none;
}

.MainMenu-list{
	margin: 0;
	padding: 0;
}

/* Header  */

.Header{
	margin-top: 3.75em;
	background-image: url('../img/portada.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 1.2em 0;
}

.Header-imageContainer{
	margin: 0;
}

.Header-image{
	border: 5px solid white;
	border-radius: 50%;
}

.Header-name,
.Header-link{
	color: white;
}

.Header-name{
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
}

.Header-link{
	font-size: 2.2em;
	font-weight: 700;
	text-decoration: none;;
}

/* Profile  */

.Profile{
	text-align: center;
}

.Profile-link{
	background: orange;
	color: white;
	text-decoration: none;
	padding: .5em 1em;
	border-radius: 2em;
	margin-right: .5em;
}

/* Work */

.Work{
	margin-top: 2em;
	text-align: center;
}

.Work-item{
	display: inline-block;
	margin-right: 1.8em;
	margin-bottom: 1.8em;
}

.Work-imageContainer{
	margin: 0;
}

.Work-description{
	font-size: 1.1em;
	color: #515151;
	font-style: italic;
}

/* Footer */

.Footer{
	background-image: url('../img/footer.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 2em 0;
	text-align: center;
}

.Footer-form{
	text-align: center;
	display: inline-block;
}

.Footer-left{
	display: inline-block;
	width: 32em;
	text-align: center;
	vertical-align: top;
}

.Footer-title{
	color: white;
}

.Footer-formInput,
.Footer-formTextarea{
	background: white;
	border: none;
	border-radius: 2em;
	display: block;
	padding: .5em;
	margin: 0 auto 1em;

}

.Footer-formTextarea{
	resize:none;
}

.Header-button,
.Footer-button{
	background: orange;
	color: white;
	border-radius: 1em;
	padding: .5em 1em;
	border: none;

}

/* Formulario */
.Header-form{
	padding: 1em;
	text-align: right;
	display: none;
}

.Header-formInput{
	border: 1px solid gray;
	border-radius: 5px;
	padding: .2em 0.6em; 
}