<!DOCTYPE html>
<html lang="es">
<head>
	<title>Portafolio - Juan Camilo Zuluaga Henao</title>
	<meta charset="utf-8">
	<meta description="Página personal de Juan Camilo Zuluaga Henao, donde pueden encontrar información de los proyectos realizados por mí, e información relevante de los ultimos cambios del mundo del desarrollo y de la web.">
	
	<!-- Opens Sans Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/estilos.css">
	
	
</head>
<body>
	<header id="inicio" class="Header">
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item"><a class="MainMenu-link" href="#inicio">Inicio</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#perfil">Perfil</a></li class="MainMenu-item">
				<li class="MainMenu-item"><a class="MainMenu-link" href="#trabajo">Trabajo</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#contacto">Contacto</a></li>
			</ul>
		</nav>
		<figure class="Header-imageContainer">
			<img src="../static/img/yo.png" alt="Imagen Personal" class="Header-image">
			<figcaption>
				<a class="Header-link" href="https://twitter.com/Juankzu" target="_blank">@Juankzu</a>
			</figcaption>
			<p class="Header-name">Juan Camilo Zuluaga Henao</p>
		</figure>
	</header>
	<section id="perfil" class="Profile">
		<h2 class="Profile-title u-title">Mi Perfil</h2>
		<p class="Profile-description">
			<strong>Hola!</strong> si <span class="Profile-span">llegaste</span> hasta aqui, puedes ver mi portafolio y <em>contactarme.</em>
		</p>
		<a class="Profile-link" href="http://twitter.com/Juankzu" target="_blank">Twitter</a>
		<a class="Profile-link" href="http://facebook.com/Juankzu" target="_blank">Facebook</a>
		<a class="Profile-link" href="http://github.com/Juankzuhe" target="_blank">Github</a>
	</section>
	<section id="trabajo" class="Work">
		<h2 class="Work-title u-title">Mi Trabajo</h2>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/img/thumb3.jpg" alt="Descripcion imagen">
				<figcaption class="Work-description">
					Imagen Articulo
				</figcaption>
			</figure>
			
		</article>		
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/img/thumb3.jpg" alt="Descripcion imagen">
				<figcaption class="Work-description">
					Imagen Articulo
				</figcaption>
			</figure>
			
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/img/thumb3.jpg" alt="Descripcion imagen">
				<figcaption class="Work-description">
					Imagen Articulo
				</figcaption>
			</figure>
			
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/img/thumb3.jpg" alt="Descripcion imagen">
				<figcaption class="Work-description">
					Imagen Articulo
				</figcaption>
			</figure>
			
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/img/thumb3.jpg" alt="Descripcion imagen">
				<figcaption class="Work-description">
					Imagen Articulo
				</figcaption>
			</figure>
			
		</article>		
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/img/thumb3.jpg" alt="Descripcion imagen">
				<figcaption class="Work-description">
					Imagen Articulo
				</figcaption>
			</figure>
			
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/img/thumb3.jpg" alt="Descripcion imagen">
				<figcaption class="Work-description">
					Imagen Articulo
				</figcaption>
			</figure>
			
		</article>
	</section>
	<footer id="contacto" class="Footer">
		<div class="Footer-left">
			<h3 class="Footer-title">Contacto</h3>
			<p class="Footer-description">Tienes una sugerencia o quieres trabajar conmigo, ponte en contacto con este formulario</p>
		</div>
		<form action="" class="Footer-form">
			<input class="Footer-formInput" type="text" name="" id="" placeholder="nombre"/>
			<input class="Footer-formInput" type="email" name="" id="" placeholder="email"/>
			<textarea class="Footer-formTextarea" name="" id="" placeholder="mensaje"></textarea>
			<button class="Footer-button" type="submit">Contactarme</button>
			
		</form>
	</footer>
	
</body>
</html>